<mat-dialog-content class="mat-typography">
  <form class="example-form">
      <mat-form-field class="example-full-width w-100 mb-3" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Ex. Elora Pure Saturday">
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width w-100 mb-3" appearance="fill">
          <mat-label>Genre</mat-label>
          <input matInput placeholder="Ex. Pop">
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width w-100 mb-3" appearance="fill">
          <mat-label>Duration</mat-label>
          <input matInput placeholder="Ex. 3:00">
      </mat-form-field>
      <br>

      <mat-dialog-actions>
        <button mat-flat-button color="primary">Add Song</button>
        <button mat-button mat-dialog-close>Cancel</button>
      </mat-dialog-actions>
  </form>
</mat-dialog-content>