<div class="container-fluid bg-dark">
  <div class="row justify-content-center vertical-center">
    <div class="col-10 col-xl-8 col-lg-8">
      <mat-card class="p-5 text-center bg-black">
        <mat-card-title class="text-warning h1">ADMTC V2</mat-card-title>
        <mat-card-subtitle>Welcome to ADMTC V2</mat-card-subtitle>
        <mat-card-content>
          <form [formGroup]="loginForm">
            <mat-form-field class="w-100">
              <input matInput type="email" placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <p class="text-start">
            <a mat-button (click)="onForgotPassword()">Forgot Password ?</a>
          </p>
          <button mat-raised-button color="accent" (click)="login()" [disabled]="loginForm.invalid">LOGIN</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>